@import "tailwindcss";

:root {
    --colors-primary-100: #0a4555;
    --colors-secondary-100: #0b566d;
    --colors-tertiary-100: #1195bc;
    --colors-fourth-100: #32b8f7;
}

@layer components {
    .text-primary-100 {
        color: var(--colors-primary-100);
    }

    .primary-100 {
        color: var(--colors-tertiary-100);
    }

    .bg-primary-100 {
        background-color: var(--colors-primary-100);
    }

    .bg-secondary-100 {
        background-color: var(--colors-secondary-100);
    }

    .bg-tertiary-100 {
        background-color: var(--colors-tertiary-100);
    }

    .bg-fourth-100 {
        background-color: var(--colors-fourth-100);
    }

    .text-secondary-100 {
        color: var(--colors-secondary-100);
    }

    .text-tertiary-100 {
        color: var(--colors-tertiary-100);
    }

    .text-fourth-100 {
        color: var(--colors-fourth-100);
    }
}